{% extends "plantillaBase.php.twig" %}

{% block titulo %}
    <h1 class="mt-4">Editar Perfil</h1>
{% endblock %}

{% block contenido %}

    <form action="index.php" method="get">
        <input type="hidden" name="con" value="Usuario" />
        <input type="hidden" name="ope" value="editar" />
        <input type="hidden" name="id" value="{{dat.idUsu}}" />



        <div class="row">
            <div class="col-sd-12 mx-auto">
                <img class="logo"  width="500px "src="./Imagenes/logo.svg" alt="ForoCarros" />
            </div>
        </div>



        <div class="row form-group">
            <div class="col-md-4 mx-auto">
                <label class="col-form-label" for="email">Nombre de usuario:</label>
                <input class="form-control" type="email" name="ema"  value="{{dat.email}}"/>
            </div>
        </div>


        <div class="row form-group">
            <div class="col-md-4 mx-auto">
                <label  class="col-form-label" for="nombre">Nombre:</label>
                <input class="form-control" type="text" name="nom" value="{{dat.nombre}}"/>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-4 mx-auto">
                <label class="col-form-label" for="apellidos">Apellidos:</label>
                <input class="form-control" type="text" name="ape" value="{{dat.Apellidos}}" />
            </div>
        </div>






        <div class="row form-group">
            <div class="col-md-4 mx-auto">
                <label class="col-form-label" for="fec">Fecha de Nacimiento:</label>
                <input class="form-control" type="date" name="fec" value="{{dat.Fecha}}" />
            </div>
        </div>


        <div class="row form-group">
            <div class="col-md-4 mx-auto">
                <button class="btn btn-primary w-100" type="submit">Editar</button>
            </div>
        </div>
    </form>


    <div class="row">
        <div class="col-md-4 mx-auto text-center">
            <a href="index.php" class="btn btn-link">volver atrás</a>
        </div>
    </div>






</form>

{% endblock %}