{% extends "plantillaBase.php.twig" %}

{% block contenido %}
    <p>Escribe tu post </p><br/>
    <form method="GET" class="form">
        <input type="hidden" name="con" value="Anuncio"/>
        <input type="hidden" name="ope" value="edit"/>
        <input type="hidden" name="idAnuncio" value="{{anuncio.IdAnuncio }}"/>
        <input type="hidden" name="idUsu" value="{{ idUsu }}"/>
        
       
    
  <div class="row form-group">
            <div class="col-md-4 mx-auto">
                <label style="color: white" >Cabecera </label>

                <input class="form-control" type="text" name="Cabecera" value="{{anuncio.Cabecera}}"   />
            </div>
        </div>
         <div class="row form-group">
            <div class="col-md-4 mx-auto">
                <label style="color: white" >Marca </label>

                <input class="form-control" type="text" name="Marca" 
                       value="{{anuncio.Marca}}"    />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-4 mx-auto">
                <label style="color: white" >Modelo </label>

                <input class="form-control" type="text" name="Modelo"  value="{{anuncio.Modelo}}"   
                         />
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-4 mx-auto">
                <label style="color: white" >Color </label>

                <input class="form-control" type="text" name="Color" 
                        value="{{anuncio.color}}"     />
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-4 mx-auto">
                <label style="color: white" >Año </label>

                <input class="form-control" type="number" name="Anio" 
                      value="{{anuncio.Anio}}"     />
            </div>
        </div>


        <div class="row form-group">
            <div class="col-md-4 mx-auto">
                <label style="color: white" >Kilometros</label>

                <input class="form-control" type="number" name="Kilometro" 
                       value="{{anuncio.Kilometros}}"   />
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-4 mx-auto">
                <label style="color: white" >Imagen</label>

                <input class="form-control" type="text" name="Imagen" 
                        value="{{anuncio.Imagen}}"     />
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-4 mx-auto">
                <label style="color: white" >Precio </label>

                <input class="form-control" type="number" name="Precio" 
                        value="{{anuncio.Precio}}"     />
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-4 mx-auto">
                <label style="color: white" >Telefono </label>

                <input class="form-control" type="text" name="Telefono" 
                        value="{{anuncio.Telefono}}"     />
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-4 mx-auto">
                <label style="color: white" >Combustible </label>

                <input class="form-control" type="text" name="Combustible" 
                        value="{{anuncio.Combustible}}"     />
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-4 mx-auto">
                <label style="color: white" for="Descripcion">Descripción: </label>
                <textarea class="form-control"  rows="5" name="Descripcion">{{anuncio.Descripcion}}</textarea><br/>
            </div>
        </div>

        <button type="submit" class="btn btn-primary mx-2 my-2">Comentar</button>

    </form>
{% endblock %}