{% extends "plantillaBase.php.twig" %}

{% block titulo %}
    <!--Fabio Benitez Ramirez-->
    <link rel="stylesheet" href="estilos/css/hilo.css">

{% endblock %}

{% block contenido %}



 
    <button type="button"  class="btn btn-info" data-toggle="modal" data-target="#ModalHilo">Insertar una nuevo Hilo</button>     
    <h3 style="color: white" align="center"><input  style="color: black"type="text" id="buscadireccion" value="" placeholder="Buscar"></h3>

    <div id="hilosfiltrados"> </div> 
    <div id="hilos"> 
        {% for item in dat %}

            <div class="media">

                <div class="img">
                    <img  src="{{ item.foto }}"alt="Placeholder">
                    <a href="?con=Usuario&ope=MostrarPerfilAjeno&id={{item.idUsu}}">{{item.nombre }} {{item.apellidos}} </a>
                </div>
                <h2 class="title">{{item.titulo}} </h2>
                <div class="content">
                    <p>{{item.texto}}</p>
                </div>
                <div class="footer">
                    {{ item.fecha}} 
                    <div class="float-right">

                        <i class="glyphicon glyphicon-thumbs-up">{{ item.positivos }}</i>

                        <i class="glyphicon glyphicon-thumbs-down">{{ item.negativos }}</i>
                    </div>
                    <br>
                    <a href="index.php?con=Hilo&ope=ver&id={{item.idHilo}}">Ver</a>
                    {% if item.idUsu == idUsu %}
                        <a href="index.php?ope=delete&con=Hilo&idHilo={{item.idHilo}}">Borrar</a>
                        <a href="index.php?ope=edit&con=Hilo&idHilo={{item.idHilo}}">Editar</a>
                    {% endif %}

                </div>
            </div>

        {% endfor %}
    </div> 



    <!-- Modal -->
    <div class="modal fade" id="ModalHilo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Insertar una nuevo Hilo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div> 
                <form method="GET" class="form">
                    <input type="hidden" name="con" value="Hilo"/>
                    <input type="hidden" name="ope" value="add"/>

                    <input type="hidden" name="idUsu" value="{{ idUsu }}"/>
                    <label style="color: black" for="titulo">Titulo: </label>
                    <textarea class="form-control" maxlength="300" rows="5" name="titulo"></textarea><br/>
                    <label style="color: black" for="Descripcion">Descripción: </label>
                    <textarea class="form-control"  rows="5" name="texto"></textarea><br/>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Insertar</button>
                </div>
            </div>  </form>
        </div>
    </div>
</div>
{% endblock %}

{% block script1 %}
    <script>
        $('#buscadireccion').on('keyup', (e) => {
            console.log("hola")
            let title = $(e.target).val()
            if (title == '') {
                $('#hilos').show()
                $('#hilosfiltrados').hide()
            } else {
                $.get("?con=Hilo&ope=filtro&tit=" + title, (data) => {
                    console.log(data)
                    $('#hilos').hide()
                    $('#hilosfiltrados').html(data)
                    $('#hilosfiltrados').show()
                })
            }

        })
    </script>
{% endblock %}
