{% extends "plantillaBase.php.twig" %}

{% block titulo %}
    <!--Fabio Benitez Ramirez-->
{% endblock %}

{% block contenido %}


    <h1 style="color: white">Hilos Creados por {{usu.nombre}} {{usu.apellidos}} </h1>
    {% if dat is empty %}
    <h3 style="color: white">En este momento no ha creado ningun hilo</h3>
    {% else %}
    {% for item in dat %}
        <div class="card my-2">
            <div class="card-header">
                <img src="{{ item.foto }}" alt="Usuario" class="rounded-circle" width="100px"/>   <a href="index.php?con=Usuario&ope=mostrarPerfilAjeno&id={{item.idUsu}}"><strong>{{ item.nombre }} {{ item.apellidos }}</strong></a>
            </div>
            <div class="card-body">
                <p class="card-text">{{item.titulo}}</p><br/>
                <div class="float-left">
                    <i>{{ item.fecha}} </i>{{ men }}
                </div>
                <div class="float-right">
                    <i class="far fa-hand-point-up"></i>{{ item.positivos }}
                    <i href="?con=Hilo&ope=decrease&idHilo={{ item.idHilo }}" class="far fa-hand-point-down"></i>{{ item.negativos }}
                </div>
                <br>
                <a href="index.php?con=Hilo&ope=ver&id={{item.idHilo}}">Ver</a>
                {% if item.idUsu == idUsu %}
                    <a href="index.php?ope=delete&con=Hilo&idHilo={{item.idHilo}}">Borrar</a>
                    <a href="index.php?ope=edit&con=Hilo&idHilo={{item.idHilo}}">Editar</a>
                {% endif %}


            </div>
        </div>
    {% endfor %}
    {%endif%}

{% endblock %}

