{% extends "plantillaBase.php.twig" %}

{% block titulo %}
    <!--Fabio Benitez Ramirez-->
    <link rel="stylesheet" href="estilos/css/anuncio.css">

   
{% endblock %}

{% block contenido %}



    <div class="card my-2">
        <div class="card-header">
            {{anuncio.Cabecera}}  
        </div>
        <div class="card-body">
            <p class="card-text">{{anuncio.Descripcion}}</p><br/>     

            <div class="float-left">
                <table id="tbl">
                    <tr>
                        <th>Marca</th>
                        <td>{{anuncio.Marca}}</td>
                    </tr>
                    <tr>
                        <th>Modelo </th>
                        <td>{{anuncio.Modelo}}</td>
                    </tr>
                    <tr>
                        <th>Color</th>
                        <td>{{anuncio.color}}</td>
                    </tr>
                    <tr>
                        <th>Año</th>
                        <td>{{anuncio.Anio}}</td>
                    </tr>
                    <tr>
                        <th>Kilometros</th>
                        <td>{{anuncio.Kilometros}}</td>
                    </tr>
                    <tr>
                        <th>Combustible</th>
                        <td>{{anuncio.Combustible}}</td>
                    </tr>  
                    <tr>
                        <th>Precio : </th>
                        <td>{{anuncio.Precio}}</td>
                    </tr>    
                </table>

             
                
                <br>
                {% if item.idUsu == idUsu %}
                    <a href="index.php?ope=delete&con=Anuncio&idAnuncio={{anuncio.IdAnuncio}}">Borrar</a>
                    <a href="index.php?ope=edit&con=Anuncio&idAnuncio={{anuncio.IdAnuncio}}">Editar</a>

                {% endif %}  

            </div>
            <div class="float-right">

                <img src="{{ anuncio.Imagen }}" width="500px" height="250px" alt="Usuario"/>  
            </div>




        </div>
    </div>
  
   

{% endblock %}

